---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59a-661R0GDTgeitIECqjKWouSZACf4"
      Function-Execution-Id:
      - ofdjhwch87u7
      X-Cloud-Trace-Context:
      - 74a48e009b59e08f3aa48a51e4736913
      X-Country-Code:
      - US
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"count":327,"next":"https://pokeapi.co/api/v2/ability?offset=20&limit=20","previous":null,"results":[{"name":"stench","url":"https://pokeapi.co/api/v2/ability/1/"},{"name":"drizzle","url":"https://pokeapi.co/api/v2/ability/2/"},{"name":"speed-boost","url":"https://pokeapi.co/api/v2/ability/3/"},{"name":"battle-armor","url":"https://pokeapi.co/api/v2/ability/4/"},{"name":"sturdy","url":"https://pokeapi.co/api/v2/ability/5/"},{"name":"damp","url":"https://pokeapi.co/api/v2/ability/6/"},{"name":"limber","url":"https://pokeapi.co/api/v2/ability/7/"},{"name":"sand-veil","url":"https://pokeapi.co/api/v2/ability/8/"},{"name":"static","url":"https://pokeapi.co/api/v2/ability/9/"},{"name":"volt-absorb","url":"https://pokeapi.co/api/v2/ability/10/"},{"name":"water-absorb","url":"https://pokeapi.co/api/v2/ability/11/"},{"name":"oblivious","url":"https://pokeapi.co/api/v2/ability/12/"},{"name":"cloud-nine","url":"https://pokeapi.co/api/v2/ability/13/"},{"name":"compound-eyes","url":"https://pokeapi.co/api/v2/ability/14/"},{"name":"insomnia","url":"https://pokeapi.co/api/v2/ability/15/"},{"name":"color-change","url":"https://pokeapi.co/api/v2/ability/16/"},{"name":"immunity","url":"https://pokeapi.co/api/v2/ability/17/"},{"name":"flash-fire","url":"https://pokeapi.co/api/v2/ability/18/"},{"name":"shield-dust","url":"https://pokeapi.co/api/v2/ability/19/"},{"name":"own-tempo","url":"https://pokeapi.co/api/v2/ability/20/"}]}'
  recorded_at: Sat, 01 Jan 2022 00:40:21 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/ability?page=413
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"59a-661R0GDTgeitIECqjKWouSZACf4"
      Function-Execution-Id:
      - ofdjm6s6e6u4
      X-Cloud-Trace-Context:
      - 2d47b0fd54a1553196ccd6362db4777c;o=1
      X-Country-Code:
      - US
      X-Fh-N[...]
[...]
