---
http_interactions:
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ea-sMRK9ahboOvZM874KpSIf4Au/mo"
      Function-Execution-Id:
      - 44gyc7h4ko1o
      X-Cloud-Trace-Context:
      - ae7790d36dde548c2acda6225f8bbf39;o=1
      X-Country-Code:
      - US
      X-Fh-No-Setcookie-Unroll:
      - 'true'
    body:
      encoding: ASCII-8BIT
      string: '{"count":20,"next":null,"previous":null,"results":[{"name":"normal","url":"https://pokeapi.co/api/v2/type/1/"},{"name":"fighting","url":"https://pokeapi.co/api/v2/type/2/"},{"name":"flying","url":"https://pokeapi.co/api/v2/type/3/"},{"name":"poison","url":"https://pokeapi.co/api/v2/type/4/"},{"name":"ground","url":"https://pokeapi.co/api/v2/type/5/"},{"name":"rock","url":"https://pokeapi.co/api/v2/type/6/"},{"name":"bug","url":"https://pokeapi.co/api/v2/type/7/"},{"name":"ghost","url":"https://pokeapi.co/api/v2/type/8/"},{"name":"steel","url":"https://pokeapi.co/api/v2/type/9/"},{"name":"fire","url":"https://pokeapi.co/api/v2/type/10/"},{"name":"water","url":"https://pokeapi.co/api/v2/type/11/"},{"name":"grass","url":"https://pokeapi.co/api/v2/type/12/"},{"name":"electric","url":"https://pokeapi.co/api/v2/type/13/"},{"name":"psychic","url":"https://pokeapi.co/api/v2/type/14/"},{"name":"ice","url":"https://pokeapi.co/api/v2/type/15/"},{"name":"dragon","url":"https://pokeapi.co/api/v2/type/16/"},{"name":"dark","url":"https://pokeapi.co/api/v2/type/17/"},{"name":"fairy","url":"https://pokeapi.co/api/v2/type/18/"},{"name":"unknown","url":"https://pokeapi.co/api/v2/type/10001/"},{"name":"shadow","url":"https://pokeapi.co/api/v2/type/10002/"}]}'
  recorded_at: Sat, 01 Jan 2022 01:26:58 GMT
- request:
    method: get
    uri: https://pokeapi.co/api/v2/type?page=123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4ea-sMRK9ahboOvZM874KpSIf4Au/mo"
      Function-Execution-Id:
      - r6s7t0ii3cyh
      X-Cloud-Trace-Context:
      - b0bdcff58d0f7a865b4ab0469f89bc03
      X-Country-Code:
      - US
      X-Fh-No-Setco[...]
[...]
